.cardDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.keywordWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyword {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #a99986;

    border: 1px solid black;
    border-radius: 5px;
}