.cardDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.keywordWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.keyword {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #a99986;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2rem;

    width: 100%;

    p {
        display: flex;
        flex-wrap: wrap;
    }
}

.cardDetailsPage {
    display: flex;
    justify-content: center;

    Button {
        
        margin: 2rem;
    }
}