.cardList {
    width: 100%;
    height: 100%;
}

.cardListSortSearch {
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
}

.cardListSort {
    display: flex;
    justify-content: center;
    align-items: center;

    .select {
        width: 8rem;
        margin:  0 1rem;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;

    width: 12.5%;
}

.cardImage {
    display: flex;
    flex-wrap: wrap;
    
    width: 80%;
}

.cardListButtons {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;

    .cardListCurrentPage {

        input {
            width: 2rem;
            margin: 0 5px;
        }
    }
}

.classModal {
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin-right: auto;
    transform: translate(10%, 50%);

    background-color: #F1E8D8;
    width: 80%;

    display: flex;
    flex-direction: column;

    h4{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        padding: 1rem;
        box-sizing: border-box;
    }
}